body {
	 
    color:#190707;
    background-color: #A9E2F3; }
h1{
	color:green;
	font-size:50px;
	text-align:center;
}
li  {
	color:green;
	font-size:20px;
	
}
div{
	font-family:verdana;
	padding:20px;
	border-radius:10px;
	border:10px solid #EE8723A;
}